<a href="https://colab.research.google.com/github/shanksghub/Python-Practice-July/blob/main/Py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(2000,3201):
  if i%7 == 0 and i%5!=0:
    print(i,end=',')
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [ ]:

#!/usr/bin/env python
# -*- coding: utf-8 -*-

'''
Exercise
Create a program that asks the user to enter their name and their age. 
Print out a message addressed to them that tells them the year that they will turn 100 years old.
'''


import datetime

while True:
    name = input("Name：")
    age = int(input("age："))

    now = datetime.datetime.now()

    this_year = now.year

    print(name + "The year they turn 100  " + str(this_year - age + 100) + " shown before")
    print()
    in_program = input("is this age in 100 years：")

    if in_program == '0':
        break




#!/usr/bin/env python
# -*- coding: utf-8 -*-

'''
Exercise
Create a program that asks the user to enter their name and their age. 
Print out a message addressed to them that tells them the year that they will turn 100 years old.
'''


import datetime

while True:
    name = input("Name：")
    age = int(input("age："))

    now = datetime.datetime.now()

    this_year = now.year

    print(name + "The year they turn 100  " + str(this_year - age + 100) + " shown before")
    print()
    in_program = input("is this age in 100 years：")

    if in_program == '0':
        break

In [11]:
for u in range(18,200):
  if u%2 ==0 and u%5!=0:
    print(u,end=',')

print("\b")

18,22,24,26,28,32,34,36,38,42,44,46,48,52,54,56,58,62,64,66,68,72,74,76,78,82,84,86,88,92,94,96,98,102,104,106,108,112,114,116,118,122,124,126,128,132,134,136,138,142,144,146,148,152,154,156,158,162,164,166,168,172,174,176,178,182,184,186,188,192,194,196,198,

In [ ]:
print(*(i for i in range(2000, 3201) if i%7 == 0 and i%5 != 0), sep=",")

In [18]:
print(*[u for u in range(80,800) if u%5 ==0 and u%10 !=0], sep=",")

85,95,105,115,125,135,145,155,165,175,185,195,205,215,225,235,245,255,265,275,285,295,305,315,325,335,345,355,365,375,385,395,405,415,425,435,445,455,465,475,485,495,505,515,525,535,545,555,565,575,585,595,605,615,625,635,645,655,665,675,685,695,705,715,725,735,745,755,765,775,785,795

In [4]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(',h'.join(l))

2002,h2009,h2016,h2023,h2037,h2044,h2051,h2058,h2072,h2079,h2086,h2093,h2107,h2114,h2121,h2128,h2142,h2149,h2156,h2163,h2177,h2184,h2191,h2198,h2212,h2219,h2226,h2233,h2247,h2254,h2261,h2268,h2282,h2289,h2296,h2303,h2317,h2324,h2331,h2338,h2352,h2359,h2366,h2373,h2387,h2394,h2401,h2408,h2422,h2429,h2436,h2443,h2457,h2464,h2471,h2478,h2492,h2499,h2506,h2513,h2527,h2534,h2541,h2548,h2562,h2569,h2576,h2583,h2597,h2604,h2611,h2618,h2632,h2639,h2646,h2653,h2667,h2674,h2681,h2688,h2702,h2709,h2716,h2723,h2737,h2744,h2751,h2758,h2772,h2779,h2786,h2793,h2807,h2814,h2821,h2828,h2842,h2849,h2856,h2863,h2877,h2884,h2891,h2898,h2912,h2919,h2926,h2933,h2947,h2954,h2961,h2968,h2982,h2989,h2996,h3003,h3017,h3024,h3031,h3038,h3052,h3059,h3066,h3073,h3087,h3094,h3101,h3108,h3122,h3129,h3136,h3143,h3157,h3164,h3171,h3178,h3192,h3199

In [ ]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x = int(raw_input())
print fact(x)

In [8]:
def fact(c):
  if c==0:
    return 1
  return c*fact(c-1)

c =int(input())
print(fact(c))

20
2432902008176640000

In [11]:
n = int(input()) #input() function takes input as string type
                 #int() converts it to integer type
fact = 1
i = 1
while i <= n:
    fact = fact * i;
    i = i + 1
print(fact)

3
6

In [13]:
#Using For Loop

n = int(input()) #input() function takes input as string type
                #int() converts it to integer type
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(fact)

5
120

In [16]:
n = int(input())
def shortFact(x):4 return 1 if x <= 1 else x*shortFact(x-1)
print(shortFact(n))

4
24

In [20]:
f = int(input())
def factorial(f): return 1 if f <=1 else f*factorial(f-1)
print(factorial(f))

3
6

In [28]:
while True:
  try:
    num = int(input("Enter a number: "))
    break
  except ValueError as err:
    print(err)

Enter a number: 5

In [29]:
org = num
fact = 1
while num:
    fact = num * fact
    num = num - 1
print(f'the factorial of {org} is {fact}')

the factorial of 5 is 120

In [65]:
while True:
  try:
    n = int(input("Enter a no. : "))
    break
  except ValueError as haha:
    print(haha)

Enter a no. : 6

In [37]:
o = n
f = 1
while n:
  f = n * f
  n = n - 1
print(f'the f of {o} is {f}')

the f of 5 is 120

In [38]:
from functools import reduce

def fun(acc, item):
	return acc*item

num = int(input())
print(reduce(fun,range(1, num+1), 1))

3
6

In [42]:
 
# importing functools for reduce()
import functools
 
# initializing list
lis = [1, 3, 5, 6]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))
 
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 15
The maximum element of the list is : 6

In [92]:
from functools import reduce

def fun(acc, item):
	return acc*item

num = int(input())
print(reduce(fun,range(1, num+1),10))

4
240

In [53]:
i = int(input())
f = dict()
for n in range(2,i+3):
  f[n] = n*n
print(f)

5
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [54]:
n = int(input())
ans = {}
for i in range (1,n+1):
    ans[i] = i * i
print(ans)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [60]:
m = int(input())
a = {}
for i in range(2,m+2):
    a[i]= i*i
print(a)

4
{2: 4, 3: 9, 4: 16, 5: 25}

In [61]:
n = int(input())
a = {i : i*i for i in range(1,n+1)}
print(a)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [62]:
b = int(input())
s = {i: i*i for i in range(1,11)}
print(s)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [72]:
try:
    num = int(input("Enter a number: "))
except ValueError as err:
    print(err)1

Enter a number: 13

In [73]:
dictio = dict()
for item in range(num+1):
    if item == 10:
        continue
    else:
	      dictio[item] = item * item
print(dictio)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 11: 121, 12: 144, 13: 169}

In [95]:
num = int(input("Number: "))
print(dict(enumerate([20+i for i 
                      in range(1, num+1)])))

Number: 8
{0: 21, 1: 22, 2: 23, 3: 24, 4: 25, 5: 26, 6: 27, 7: 28}

In [4]:
values = input()
l = values.split(",")
t = tuple(l)
print(l)
print(t)

1,2,3,4,5,5,6,7,8,9,9
['1', '2', '3', '4', '5', '5', '6', '7', '8', '9', '9']
('1', '2', '3', '4', '5', '5', '6', '7', '8', '9', '9')

In [6]:
lst = input().split(',')  # the input is being taken as string and as it is string it has a built in
                          # method name split. ',' inside split function does split where it finds any ','
                          # and save the input as list in lst variable

tpl = tuple(lst)          # tuple method converts list to tuple

print(lst)
print(tpl)

1,2,3,4,5,5,6,22
['1', '2', '3', '4', '5', '5', '6', '22']
('1', '2', '3', '4', '5', '5', '6', '22')

In [8]:
print(tuple(input("Enter a series of numbers separated by a comma :").split(',')))

Enter a series of numbers separated by a comma :1,2,3,4,5,12,4,22
('1', '2', '3', '4', '5', '12', '4', '22')

In [15]:
print(tuple(input("Enter a series of number separated by a comma :").split(',')))

Enter a series of number separated by a comma :kjh,8393,3,5,6
('kjh', '8393', '3', '5', '6')

In [23]:
class inoutoutputString(object):
  def __init__(self):
      self.S = "asd"

  def get_striing(self):
      self.S = input()

  def print_string(self):
      print(self.S.upper())       

stringobject = inoutoutputString()
stringobject.get_striing()
stringobject.print_string()

jkhkjh
JKHKJH

In [13]:
class InputOutString(object):
    def __init__(self):
        self.s = "klklj"

    def get_string(self):
        self.s = input()

    def print_string(self):
        print(self.s.upper())

str_obj = InputOutString()
str_obj.get_string()
str_obj.print_string()

sdfsDFDD
SDFSDFDD

In [26]:
class iostr():
  def get_string(self):
    self.string = input()

  def print_string(self):
    print(self.string.lower())

a = iostr()
a.get_string()
a.print_string()

ERER
erer

In [ ]:
class IOstring():
    def get_string(self):
        self.s = input()

    def print_string(self):
        print(self.s.upper())

xx = IOstring()
xx.get_string()
xx.print_string()