<a href="https://colab.research.google.com/github/shanksghub/Python-Practice-July/blob/main/Python%20JOEL%20Grus%20crash%20course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


Base case: Empty array then return -1

Induction Hypothesis: If smaller list talks the correct 1st index of x

Induction Step: Check if 1st place is x or not if found then return 0 else find x in rest of the list
In [17]:

def firstIndex(arr, si, x):
    l = len(arr)
    if l == 0:
        return -1 
    if arr[si] == x:
        return si
    return firstIndex(arr, si+1, x)

In [18]:

arr = [1,0,1,0,1,0,6,4,9,4]
x = 4
print(firstIndex(arr, 0, x))

7

In [26]:

# Make a copy of an array

def firstIndex(arr, x):
    l = len(arr)
    if l == 0:
        return -1
    
    if arr[0] == x:
        return 0
    
    smallerList = arr[1:]
    smallerListOutput = firstIndex(smallerList, x)
    if smallerListOutput == -1:
        return -1
    else:
        return smallerListOutput + 1

    
# Main
from sys import setrecursionlimit
setrecursionlimit(11000)
n=int(input())
arr=list(int(i) for i in input().strip().split(' '))

x=int(input())
print(firstIndex(arr, x))

5
1 3 5 9 11
7
-1

In [28]:

def firstIndexBetter(a, x, si):
    l = len(a)
    if si == l:
        return -1
    
    if a[si] == x:
        return si
    
    return firstIndexBetter(a, x, si+1)

In [31]:

a = [1,2,3,4,5,6,7]
x = 5
firstIndexBetter(a, x, 0)

Out[31]:

4

**JOEL GRUS PYTHON CRASH COURSE**

In [3]:
for i in [1,2,3,4,5]:
  print(i,"II")
  for j in [1,2,3,4,5]:
    print(j,"J")
    print(i+j,"i+j")
  print(i,"I")  
print("done looping")

1 II
1 J
2 i+j
2 J
3 i+j
3 J
4 i+j
4 J
5 i+j
5 J
6 i+j
1 I
2 II
1 J
3 i+j
2 J
4 i+j
3 J
5 i+j
4 J
6 i+j
5 J
7 i+j
2 I
3 II
1 J
4 i+j
2 J
5 i+j
3 J
6 i+j
4 J
7 i+j
5 J
8 i+j
3 I
4 II
1 J
5 i+j
2 J
6 i+j
3 J
7 i+j
4 J
8 i+j
5 J
9 i+j
4 I
5 II
1 J
6 i+j
2 J
7 i+j
3 J
8 i+j
4 J
9 i+j
5 J
10 i+j
5 I
done looping

In [4]:
for i in [1,2,3]:
  print(i,"II")
  for j in [1,2,3]:
    print(j,"J")
    print(i+j,"i+j")
  print(i,"I")  
print("done looping")

1 II
1 J
2 i+j
2 J
3 i+j
3 J
4 i+j
1 I
2 II
1 J
3 i+j
2 J
4 i+j
3 J
5 i+j
2 I
3 II
1 J
4 i+j
2 J
5 i+j
3 J
6 i+j
3 I
done looping

In [7]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 )

In [10]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
easier_to_read_list_of_lists = [ [1, 2, 3],\
                                [4, 5, 6],\
                                [7, 8, 9] ]        


                       

two_plus_three = (2 + \
                  3)

In [16]:
two_plus_three

5

In [13]:
easier_to_read_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:

for i in [1, 2, 3, 4, 5]:
# notice the blank line
    print(i)

1
2
3
4
5

In [20]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [21]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [22]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)


import matplotlib.pyplot as plt
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [25]:
matcah = 10
from re import *
print(matcah)

10

In [32]:
from __future__ import division

In [35]:
13/2

6.5

In [50]:
def double(x):
    """ sdfsdf """
    return(x * 2)

In [51]:
double(4)

8

In [55]:

# Python functions are first-class, which means that 
# we can assign them to variables and
# pass them into functions just like any other arguments:

def apply_to_one(f):
    """ calls the function f with 1 as its argument """
    return f(1)
my_double = double
x = apply_to_one(my_double)

In [56]:
x

2

In [57]:
y = apply_to_one(lambda x: x + 4)

In [58]:
y

5

In [65]:

another_double = lambda u: 2 * u # don't do this

#def another_double(x): return 2 * x # do this instead

In [68]:
another_double

In [ ]:

Function parameters can also be given default arguments, 
which only need to be specified
when you want a value other than the default:

In [69]:
def my_print(message="my default message"):
    print(message)
my_print("hello")
my_print()
# prints 'hello'
# prints 'my default message'

hello
my default message

In [74]:
def subtract(a=20, b=0):
    return a - b
subtract(10, 5) # returns 5
subtract(0, 5) # returns -5
subtract(b=5)
# same as previous

15

In [89]:

single_quoted_string = 'data science'
double_quoted_string = "data science"
#Python uses backslashes to encode special characters. For example:
tab_string = "ss"
len(tab_string)
# represents the tab character
# is 1

2

In [90]:
tab_string

'ss'

In [91]:
not_tab_string = r"\t"
len(not_tab_string)
# represents the characters '\' and 't'
# is 2

2

In [95]:

integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]
list_length = len(integer_list)
list_sum = sum(integer_list)
# equals 3
# equals 6
x = range(10)
zero = x[0]
one = x[1]
nine = x[-1]
eight = x[-2]
#

In [96]:
list_sum

6

In [97]:
zero

0

In [98]:
x

range(0, 10)

In [99]:
one

1

In [100]:
nine

9

In [101]:
eight

8

In [102]:
list_length

3

In [103]:
list_of_lists

[[1, 2, 3], ['string', 0.1, True], []]

In [104]:
heterogeneous_list

['string', 0.1, True]

In [105]:
integer_list

[1, 2, 3]

In [106]:

is the list [0, 1, ..., 9]
equals 0, lists are 0-indexed
equals 1
equals 9, 'Pythonic' for last element
equals 8, 'Pythonic' for next-to-last element
now x is [-1, 1, 2, 3, ..., 9]
You can also use square brackets to “slice” lists:
first_three
= x[:3]
three_to_end = x[3:]
one_to_four = x[1:5]
last_three = x[-3:]
without_first_and_last = x[1:-1]
copy_of_x = x[:]
#
Python has an in operator to check for list membership:
1 in [1, 2, 3]
0 in [1, 2, 3]
# True
# False
This check involves examining the elements of the list one at a time, which means that
you probably shouldn’t use it unless you know your list is pretty small (or unless you
don’t care how long the check takes).
It is easy to concatenate lists together:
x = [1, 2, 3]
x.extend([4, 5, 6])
# x is now [1,2,3,4,5,6]
If you don’t want to modify x you can use list addition:
x = [1, 2, 3]
y = x + [4, 5, 6]
# y is [1, 2, 3, 4, 5, 6]; x is unchanged
More frequently we will append to lists one item at a time:
x = [1, 2, 3]
x.append(0)
y = x[-1]
z = len(x)
# x is now [1, 2, 3, 0]
# equals 0
# equals 4It is often convenient to unpack lists if you know how many elements they contain:
x, y = [1, 2]
# now x is 1, y is 2
although you will get a ValueError if you don’t have the same numbers of elements on
both sides.
It’s common to use an underscore for a value you’re going to throw away:
_, y = [1, 2]
# now y == 2, didn't care about the first element

In [107]:
0 in [1, 2, 3]

False