<a href="https://colab.research.google.com/github/shanksghub/Python-Practice-July/blob/main/Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def fact(n):
    if n == 0:
        return 1
    return n*fact(n-1)

In [2]:
def fact(n):
    if n == 0:
        return 1
    smallOutput = fact(n-1)
    return n*smallOutput

In [3]:
def fact(n):
    if n == 0:
        return 1
    smallOutput = fact(n-1)
    return n*smallOutput

In [6]:
 
#Sum of 'n' natural numbers:
def sum(n):
    if n == 1:
        return 1
    return n + sum(n-1)

n = int(input())
sum(n)
print(sum(n + 10))
print(sum(n + 95))

5
120
5050

In [7]:
def sum(n):
    if n == 1:
        return 1
    smallOutput = sum(n-1)
    return n + smallOutput

n = int(input())
print(sum(n))
print(fact(n))

5
15
120

In [15]:
# Power of a number
str = input().split()
x, n = int(str[0]), int(str[1])


def power(x,n):
    if n == 0:
    
        return 1
    power(x,n-1)
    print(n)
    x = x * x
    
print(power(x,n))

2 5
1
2
3
4
5
None

In [19]:
def func(num):
    return func(num-1)
num = 2
ans = func(num-1)
print(ans)

RecursionError: ignored

In [21]:
# Results in Recursion Error
# Print numbers from 1 to n
def print_1_to_n(n):
    if n == 0:
        return n
    print_1_to_n(n-1)
    print(n)

n = int(input())
print_1_to_n(n)

55
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55

In [26]:
# Results in Recursion Error
# Print numbers from 1 to n
def print_1_to_n(n):
    if n == 2:
        return n
    print_1_to_n(n-1)
    print(n)

n = int(input())
print_1_to_n(n)

7
3
4
5
6
7

In [30]:
def print_n_to_1(n):
    if n == 0:
        return n
    print(n)
    
    print_n_to_1(n-1)
    print(n)
n = int(input())
print_n_to_1(n)

8
8
7
6
5
4
3
2
1
1
2
3
4
5
6
7
8

In [32]:
def printNumber(n):
    if(n<0):
      return
    print(n,end=" ")
    printNumbers(n-3)  

num = 5
printNumber(num)

5 2 0

In [36]:
def printNumbers(n):
    if(n<0):
        return
    print(n,end=" ")
    printNumbers(n-8)
num = 56
printNumbers(num)

56 48 40 32 24 16 8 0

In [39]:
# Predict the Output:
def printNumbers(n):
    if(n<0):
        return
    print(n,end="h")
    printNumbers(n-2)
num = 59
printNumbers(num)

59h57h55h53h51h49h47h45h43h41h39h37h35h33h31h29h27h25h23h21h19h17h15h13h11h9h7h5h3h1h